*.bundle
*.o
*.orig
*.rb~
*.so
*.sqlite3
*.swp
*.tmproj
*~
.DS_Store
.idea
.loadpath
.project
/config/development.sphinx.conf
/config/test.sphinx.conf
/data
/db/sphinx/*
/index
Makefile
cert/CA/newcerts/*
cert/CA/serial
config/database.yml
coverage
doc/*.pdf
doc/api
doc/app
doc/javascript
doc/plots
index/*
log/*.log
log/*.pid
log/mongrel.pid
mkmf.log
out
public/feed.atom
public/javascripts/cache
public/stylesheets/cache
public/stylesheets/compiled
public/version*
restore_from_backup.sh
tmp
tmp.pot~
